body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

hr {
    border: 1px solid #fff;
}

#editarClientes input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #fff;
    border-radius: 5px;
    background-color: #444;
    color: #fff;
}

input::placeholder {
    color: #ccc;
}

.btn {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #555;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background-color: #777;
}
