<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>ServletLeerCliente</display-name>
    <servlet-name>ServletLeerCliente</servlet-name>
    <servlet-class>controlador.ServletLeerCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLeerCliente</servlet-name>
    <url-pattern>/ServletLeerCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLeerProducto</display-name>
    <servlet-name>ServletLeerProducto</servlet-name>
    <servlet-class>controlador.ServletLeerProducto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLeerProducto</servlet-name>
    <url-pattern>/ServletLeerProducto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletGuardarCliente</display-name>
    <servlet-name>ServletGuardarCliente</servlet-name>
    <servlet-class>controlador.ServletGuardarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletGuardarCliente</servlet-name>
    <url-pattern>/ServletGuardarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletGuardarProducto</display-name>
    <servlet-name>ServletGuardarProducto</servlet-name>
    <servlet-class>controlador.ServletGuardarProducto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletGuardarProducto</servlet-name>
    <url-pattern>/ServletGuardarProducto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletEliminarProducto</display-name>
    <servlet-name>ServletEliminarProducto</servlet-name>
    <servlet-class>controlador.ServletEliminarProducto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEliminarProducto</servlet-name>
    <url-pattern>/ServletEliminarProducto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletEliminarCliente</display-name>
    <servlet-name>ServletEliminarCliente</servlet-name>
    <servlet-class>controlador.ServletEliminarCliente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEliminarCliente</servlet-name>
    <url-pattern>/ServletEliminarCliente</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletListarClientes</display-name>
    <servlet-name>ServletListarClientes</servlet-name>
    <servlet-class>controlador.ServletListarClientes</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListarClientes</servlet-name>
    <url-pattern>/ServletListarClientes</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletListarProductos</display-name>
    <servlet-name>ServletListarProductos</servlet-name>
    <servlet-class>controlador.ServletListarProductos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListarProductos</servlet-name>
    <url-pattern>/ServletListarProductos</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletLogeo</display-name>
    <servlet-name>ServletLogeo</servlet-name>
    <servlet-class>controlador.ServletLogeo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletLogeo</servlet-name>
    <url-pattern>/ServletLogeo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletRegistro</display-name>
    <servlet-name>ServletRegistro</servlet-name>
    <servlet-class>controlador.ServletRegistro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletRegistro</servlet-name>
    <url-pattern>/ServletRegistro</url-pattern>
  </servlet-mapping>
  <display-name>Proyect-lurosaOriiginal2024</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NUEVOTOMCAT</display-name>
    <servlet-name>NUEVOTOMCAT</servlet-name>
    <servlet-class>NUEVOTOMCAT</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NUEVOTOMCAT</servlet-name>
    <url-pattern>/NUEVOTOMCAT</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCrearProducto</display-name>
    <servlet-name>ServletCrearProducto</servlet-name>
    <servlet-class>controlador.ServletCrearProducto</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCrearProducto</servlet-name>
    <url-pattern>/ServletCrearProducto</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletListarCategorias</display-name>
    <servlet-name>ServletListarCategorias</servlet-name>
    <servlet-class>controlador.ServletListarCategorias</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListarCategorias</servlet-name>
    <url-pattern>/ServletListarCategorias</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletInsertarCategoria</display-name>
    <servlet-name>ServletInsertarCategoria</servlet-name>
    <servlet-class>controlador.ServletInsertarCategoria</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletInsertarCategoria</servlet-name>
    <url-pattern>/ServletInsertarCategoria</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletNuevoPedido</display-name>
    <servlet-name>ServletNuevoPedido</servlet-name>
    <servlet-class>controlador.ServletNuevoPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletNuevoPedido</servlet-name>
    <url-pattern>/ServletNuevoPedido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCrearPedido</display-name>
    <servlet-name>ServletCrearPedido</servlet-name>
    <servlet-class>controlador.ServletCrearPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCrearPedido</servlet-name>
    <url-pattern>/ServletCrearPedido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletCerrarSesion</display-name>
    <servlet-name>ServletCerrarSesion</servlet-name>
    <servlet-class>controlador.ServletCerrarSesion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCerrarSesion</servlet-name>
    <url-pattern>/ServletCerrarSesion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletListarPedido</display-name>
    <servlet-name>ServletListarPedido</servlet-name>
    <servlet-class>controlador.ServletListarPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletListarPedido</servlet-name>
    <url-pattern>/ServletListarPedido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletEditarPedido</display-name>
    <servlet-name>ServletEditarPedido</servlet-name>
    <servlet-class>controlador.ServletEditarPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletEditarPedido</servlet-name>
    <url-pattern>/ServletEditarPedido</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ServletActualizarPedido</display-name>
    <servlet-name>ServletActualizarPedido</servlet-name>
    <servlet-class>controlador.ServletActualizarPedido</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletActualizarPedido</servlet-name>
    <url-pattern>/ServletActualizarPedido</url-pattern>
  </servlet-mapping>
</web-app>